{% extends 'base.html' %}

{% block content %}
<div class="row sortable ui-sortable pull-right" style="width: 40%">
  <div class="col-xs-12" data-original-title="">
    <div class="col-xs-1"><h2><i class="glyphicon glyphicon-tint"></i></h2></div>
    <div class="col-xs-10"><h2><span class="break"></span>Groups</h2></div>
    <div class="col-xs-1 text-right">
      <h2><a href="{% url "create-group" %}" title="New group"><i class="glyphicon glyphicon-plus"></i></a></h2>
    </div>
  </div>
  
  <div class="col-xs-12">
    {% if not data.groups %}
      <div class="col-xs-11 col-xs-offset-1">No rota groups configured</div>
    {% else %}
    <table class="table table-striped bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for group in data.groups %}
        <tr>
          <td>
            <a>{{ group.name }}</a>
          </td>

          <td>
            <a class="btn btn-xs" href="{% url "delete-group" group.id %}">Delete group</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

<div class="row pull-left" style="width: 60%">
  <div class="col-xs-12" data-original-title="">
    <div class="col-xs-1"><h2><i class="glyphicon glyphicon-time"></i></h2></div>
    <div class="col-xs-10"><h2><span class="break"></span>Duty rota</h2></div>
  </div>

  <div class="col-xs-12">
    {% if not data.shifts %}
      <div class="col-xs-11 col-xs-offset-1">No shifts downloaded</div>
    {% else %}
    <table class="table table-striped bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>User</th>
          <th>Shift time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for shift in data.shifts %}
        <tr>
          <td>
            <a href="">{{ shift.group.name }}</a>
          </td>
          <td>
            {{ shift.start }} - {{ shift.end }}
          </td>
          <td>
            <a class="btn btn-xs" href="">
              <i class="glyphicon glyphicon-share"></i><span class="break"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}
{% load compress %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">

</script>
{% endcompress %}
{% endblock js %}
